<!DOCTYPE html>
<html lang="en">
<head>
  <title>മലയാളം പാർട്ട് ഓഫ് സ്പീച് ടാഗർ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet"> 
  <style>
  .fakeimg {
    height: 200px;
    background-color: rgb(44, 111, 212);
  }
  a{
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  </style>
</head>
<body style="font-family: 'Gayathri', sans-serif;">

<div class="jumbotron text-center " style="margin-bottom:0; background-color: #007Bff; color: white;">
  <h2><b>മലയാളം പാർട്ട് ഓഫ് സ്പീച് ടാഗർ </b></h2>
  <p style="font-weight: 600; font-size: 20px;"><i>ബ്യൂറോ ഓഫ് ഇന്ത്യൻ സ്റ്റാൻ‌ഡേർഡ് ടാഗ്‌സെറ്റ് ഉപയോഗിച്ചു</i></p> 
</div>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
        <h2>BIS ടാഗ്‌സെറ്റ്</h2>
        <ul>
          <li>
            <button type="" class="btn" data-toggle="modal" data-target="#myModal" style="color: teal;">
                ടാഗ് സെറ്റ് കാണുക
            </button>
          </li>
        </ul>
      <h2>എങ്ങനെ ഉപയോഗിക്കാം</h2>
        <ul>
            <li>നിങ്ങളുടെ മലയാള വാചകം ഇവിടെ നൽകുക .</li>
            <li>പാർട്ട് ഓഫ് സ്പീച് ടാഗുകൾ‌ സൃഷ്‌ടിക്കുന്നതിന് ബട്ടൺ‌ ക്ലിക്കുചെയ്യുക .</li>
        </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>മലയാളം പാർട്ട് ഓഫ് സ്പീച് ടാഗർ</h2>
      <h5>നിങ്ങളുടെ വാചകം ഇവിടെ നൽകുക ..</h5>
      <div class="form-group">
            <label for="comment">മലയാള വാചകം :</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <br>
            <button id="btn" type="button" class="btn btn-info">ടാഗ് ചെയ്യുക</button>
        </div> 
        <div id='spl' style="background-color: aquamarine;padding: 2%; display: none;">
            <p id='tagArea'>ഇതുവരെ കാണിക്കാൻ ഒന്നുമില്ല</p>
        </div>
        <br>
    </div>
  </div>
</div>


  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center">BIS - POS Tag set</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body text-center">

          <img src="static/new.jpg" alt="Cinque Terre"> 
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

  <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
      }
  </style>
      
      <div class="footer d-md-none d-lg-block" style="display: inline-block;">
          <div class="container mt-4 mb-1">
              <div class="row">
                <div class="col-sm-4">
                  <h5>മലയാളം പാർട്ട് ഓഫ് സ്പീച് ടാഗർ</h5>
                  <p class="mt-2"><i>ബ്യൂറോ ഓഫ് ഇന്ത്യൻ സ്റ്റാൻ‌ഡേർഡ് ടാഗ്‌സെറ്റ് ഉപയോഗിച്ചു മലയാള ഭാഷയ്ക്കുള്ള പാർട്ട് ഓഫ് സ്പീച് ടാഗർ</i></p>
                </div>
                <div class="col-sm-4">
                    <h5>വികസിപ്പിച്ചെടുത്തത്</h5>
                    <p><a href="https://www.linkedin.com/in/anoopacademia/">അനൂപ് വി എസ്</a></p>
                    <p><a href="https://www.linkedin.com/in/akhilkishorek/">അഖിൽ കിഷോർ </a></p>
                  </div>
                <div class="col-sm-4">
                      <h5>ഞങ്ങളെ സമീപിക്കുക</h5>
                      <p><i>നിങ്ങളുടെ ഇമെയിൽ ഞങ്ങളുമായി പങ്കിടുക</i></p>
                      <div class="input-group mb-3">
                        <input id='emailArea' type="text" class="form-control" placeholder="ഇമെയിൽ">
                        <div class="input-group-append">
                          <button class="btn btn-success" id="sendMail" type="submit">Go</button>
                        </div>
                      </div>
                      
                </div>

              </div>
              <div class='row'>
                <div class="col-sm-12">
                  <p>സെന്റർ ഫോർ കോഗ്നിറ്റീവ് കമ്പ്യൂട്ടിങ്   |   ഇന്ത്യൻ ഇൻസ്റ്റിറ്റ്യൂട്ട് ഓഫ് ഇൻഫർമേഷൻ ടെക്നോളജി ആൻഡ് മാനേജ്‌മന്റ് - കേരള</p>
                </div>
              </div>
            </div>

      </div> 
<script>

jQuery(document).ready(function ($) {
  



  function appendData(data){
      document.getElementById("spl").style.display = "block"; 
      //document.getElementById('spl').display = 'inline';
      var para = document.getElementById("tagArea");
      //para.innerHTML.replace(text);
      while (para.hasChildNodes()) {
        para.removeChild(para.firstChild);
        }
      var text = document.createTextNode(data);
      para.append(text);
  }

  $('#btn').click(function (){
    var request = new XMLHttpRequest()
    search_query = 'no';
    search_query = { data : $('#comment').val() }; 
    if(search_query['data'].trim() == ''){
      alert('ദയവായി താങ്കളുടെ വാചകം നൽകുക');
    }
    else{
      search_query = JSON.stringify(search_query);

      alert("താങ്കളുടെ വാചകം ടാഗ് ചെയ്യപ്പെട്ടിട്ടുണ്ട്");
      request.open('POST', '/generateTags', true)
      request.onload = function () {
          var data = JSON.parse(this.response);
          if(data == "404"){
              alert("New notification added");
          }
          else{
            appendData(data);
            //alert(data);

          }
      }
      request.send(search_query)
    }

  });

  $('#sendMail').click(function (){
    search_query = {email:$('#emailArea').val()}; 
    search_query = JSON.stringify(search_query);
    var request = new XMLHttpRequest()
    request.open('POST', '/send-mail/', true)
    request.onload = function () {
        var data = JSON.parse(this.response);
        if(data == "404"){
            alert("contact admin");
        }
        else{
          document.getElementById("sendMail").disabled = true; 
          alert('മെയിൽ അയച്ചു');

        }
    }
    request.send(search_query)
  });


});


</script>
</body>
</html>
